{% extends 'JungiSimpleEnvironmentBundle::layout.html.twig' %}

{% block bundle_content %}
Go to <a href="{{ path('jungi_simple_environment_admin_settings') }}">settings</a> page<br /><br />
Hello, <b>I am Admin page</b><br />
I wanna some colors here (:
{% endblock %}